@model IEnumerable<Caulacbo>
<ul class="subnav">
    @foreach(var item in Model)
    {
        <li class="subnav__item">
            <a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-caulacboid="@item.CauLacBoId" class="subnav__item-link">@item.TenClb</a>
        </li>
    }

</ul>
