@model IEnumerable<Caulacbo>
<ul class="subnav">
    @foreach(var item in Model)
    {
        <li class="subnav__item">
            <a href="" class="subnav__item-link">@item.TenClb</a>
        </li>
    }

</ul>
